.fadeInLeft {
  animation: fadeInFromLeft 1s; }

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

.fadeInRight {
  animation: fadeInFromRight 1s; }

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

.fadeInBottom {
  animation: fadeInFromBottom 1s; }

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 400; }

a {
  text-decoration: none;
  color: #000; }

h1 {
  font-size: 2.5rem;
  font-weight: 700; }
  @media screen and (max-width: 56.25em) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.7rem;
  font-weight: 400; }
  @media screen and (max-width: 56.25em) {
    h2 {
      font-size: 1.4rem; } }

p {
  font-size: 1.3rem; }

.center-align {
  text-align: center;
  margin: 0; }

.list-font {
  font-size: 4rem !important;
  font-family: fantasy, sans-serif; }
  @media screen and (max-width: 56.25em) {
    .list-font {
      font-size: 2rem !important; } }

.align-right {
  float: right; }
  .align-right::after {
    content: "";
    display: table;
    clear: both; }

.bold {
  font-weight: 700; }

.blue--square-box {
  height: 15px;
  width: 15px;
  background-color: #0050ff;
  margin: 1.1rem; }
  @media screen and (max-width: 56.25em) {
    .blue--square-box {
      height: 12px;
      width: 12px;
      margin: 9px 5px 0px 0px; } }

.blue__line {
  border-bottom: 2px solid #0050ff;
  width: 70px;
  margin-right: 1rem; }
  .blue__line--center {
    margin: 1.5rem auto; }

.shadow {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.wide-margin-top {
  margin-top: 15rem; }

.background-beige {
  background-color: #e6dace; }

.box-shadow {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.padding-narrow {
  padding: 2rem; }

.padding-normal {
  padding: 5rem; }

.padding-large {
  padding: 9rem; }

.margin--narrow {
  margin: 2rem auto !important; }
  @media screen and (max-width: 56.25em) {
    .margin--narrow {
      margin: 1rem auto !important; } }

.button__link, .button__link:visited {
  display: inline-flex;
  padding: .5rem 1rem;
  border-bottom: 1px solid #0050ff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .4s; }
  .button__link:not(:last-child), .button__link:visited:not(:last-child) {
    margin-right: 4rem; }
  @media screen and (max-width: 56.25em) {
    .button__link, .button__link:visited {
      margin-left: 0;
      background-color: #0050ff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      color: white;
      border-radius: 2px; }
      .button__link:not(:last-child), .button__link:visited:not(:last-child) {
        margin-right: 2rem; } }

.button__link:hover {
  background-color: #0050ff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 2px;
  transform: translateX(1rem); }

.row {
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 56.25em) {
    .row {
      width: calc((100% - 20rem));
      margin-left: 10rem;
      margin-right: 0; } }
  @media screen and (max-width: 37.5em) {
    .row {
      width: calc((100% - 6rem));
      margin-left: 3rem;
      margin-right: 0; } }
  .row .col-1-of-1 {
    width: 100%;
    float: left;
    margin-bottom: 6rem;
    display: inline-flex; }
    .row .col-1-of-1::after {
      content: "";
      display: table;
      clear: both; }
  .row .col-1-of-2 {
    width: calc(90% / 2);
    float: left;
    margin-bottom: 6rem; }
    .row .col-1-of-2::after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 100%; } }
    .row .col-1-of-2--gutter {
      margin-left: 5rem; }
      @media screen and (max-width: 56.25em) {
        .row .col-1-of-2--gutter {
          margin-left: 0; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    float: left;
    margin-bottom: 6rem; }
    .row .col-1-of-3::after {
      content: "";
      display: table;
      clear: both; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
    @media screen and (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: calc((100% - 2 * 10rem));
        margin-left: 10rem; } }
    @media screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  .row--normal {
    max-width: 80rem; }
  .row--wide {
    max-width: 114rem; }
  .row--narrow {
    max-width: 70rem; }
  .row--padding-top {
    padding-top: 8rem; }
    @media screen and (max-width: 56.25em) {
      .row--padding-top {
        padding-top: 5rem; } }
    @media screen and (max-width: 37.5em) {
      .row--padding-top {
        padding-top: 3rem; } }

.orangered {
  background-color: orangered;
  height: 100px; }

.olivedrab {
  background-color: olivedrab;
  height: 100px; }

.blue {
  background-color: #0050ff;
  height: 100px; }

.primary-beige {
  background-color: #e6dace; }

.primary-beige-light {
  background-color: #f4ece6; }

.gutter-vertical-small {
  margin-bottom: 2rem !important; }

.gutter-vertical {
  margin-bottom: 4rem !important; }

.gutter-vertical-large {
  margin-bottom: 6rem !important; }

.header__nav::after {
  content: "";
  display: table;
  clear: both; }

.header__card--designation {
  letter-spacing: 3px;
  margin-bottom: 4rem; }

.header__leftSection {
  padding: 2rem;
  float: left; }

.header__name {
  display: inline-flex; }
  .header__name--designation {
    margin-left: 3rem; }
    @media screen and (max-width: 56.25em) {
      .header__name--designation {
        margin-left: 2rem; } }

.header__rightSection {
  float: right; }

.header__image {
  height: 16rem;
  width: 16rem;
  border-radius: 100rem;
  background-color: #777;
  margin: 3rem auto;
  background-image: url(/img/dp_crop.jpg);
  background-size: cover;
  background-position: center; }

.header__social-media {
  background-color: #fff;
  height: 5rem; }

.header__description {
  padding: 5rem 0 5rem 5rem; }
  @media screen and (max-width: 56.25em) {
    .header__description {
      padding: 2rem;
      padding-top: 0; } }
  .header__description--hello {
    font-size: 8rem; }
    @media screen and (max-width: 56.25em) {
      .header__description--hello {
        font-size: 5rem; } }

.header__social-media ul {
  list-style: none;
  text-align: center;
  padding-top: 1rem; }
  .header__social-media ul li {
    display: inline;
    font-size: 2rem;
    padding: 0 3rem;
    cursor: pointer; }
    @media screen and (max-width: 56.25em) {
      .header__social-media ul li {
        padding: 0 2rem; } }

.project {
  margin-top: 8rem; }
  .project__card {
    padding: 4rem 4rem 0 4rem; }
    @media screen and (max-width: 56.25em) {
      .project__card {
        padding: 4rem 1rem 0 1rem; } }
    .project__card--natours {
      background-image: linear-gradient(to right bottom, #e6dacea8, #e6dace6b), url(/img/natours.JPG); }
    .project__card--hackathon {
      background-image: linear-gradient(to right bottom, #e6dacea8, #e6dace6b), url(/img/travel.JPG); }
    .project__card--image {
      height: 10rem;
      width: 15rem;
      border-radius: 100rem;
      background-color: olivedrab;
      margin: auto; }
    .project__card--shadow {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .project__card--links {
      display: inline-flex; }
    .project__card--link {
      display: inline-flex; }
    .project__card--image1 {
      background-image: url(/img/natours.JPG);
      background-size: cover;
      background-position: center; }
    .project__card--image2 {
      background-image: url(/img/portfolio.JPG);
      background-size: cover;
      background-position: center; }
    .project__card--image3 {
      background-image: url(/img/travel.JPG);
      background-size: cover;
      background-position: center; }
    .project__card--image4 {
      background-image: url(/img/hackathon.JPG);
      background-size: cover;
      background-position: center; }

.work-experience {
  margin-top: 15rem; }
  @media screen and (max-width: 56.25em) {
    .work-experience {
      margin-top: 4rem; } }
  .work-experience__card--title {
    padding: 2rem 0 0 2rem;
    color: #0050ff; }
  .work-experience__card--sub-title {
    padding: 0 0 0 2rem; }
  .work-experience__card--info {
    margin: 2rem 3rem; }

.skills {
  background-color: #e6dace;
  color: #000;
  margin-top: 15rem; }
  @media screen and (max-width: 56.25em) {
    .skills {
      margin-top: 4rem; } }
  .skills ul {
    list-style: none; }
    .skills ul li {
      display: inline-block;
      font-size: 5rem;
      padding: 2rem 5rem; }
      @media screen and (max-width: 56.25em) {
        .skills ul li {
          font-size: 3rem;
          padding: 2rem 3rem;
          height: 8rem;
          width: 10rem; } }
