@mixin clearFix {

    &::after {
        content: "";
        display: table;
        clear: both;
    }    
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and ( max-width: 37.5em ) { @content };  //600px
    }

    @if $breakpoint == tab-portrait {
        @media screen and ( max-width: 56.25em ) { @content }; //900px
    }

    @if breakpoint == tab-landscape {
        @media screen and ( max-width: 75em ) { @content }; // 1200px
    }

    @if breakpoint == desktop {
        @media screen and ( max-width: 112.5em ) { @content }; //1800px
    }
}

@mixin marginTop {
    margin-top: 12rem;

    @include respond(tab-portrait){
        margin-top: 4rem;
    }
}