//COLOR
$color-primary-blue: #0050ff;
$color-primary-beige: #e6dace;
$color-primary-beige-light: #f4ece6;
$color-white: #fff;
$color-black: #000;

// GRIDS
$grid-max-width-normal: 80rem;
$grid-max-width-wide: 114rem;
$gutter-horizontal: 10rem;
$gutter-horizontal-small: 6rem;
$gutter-horizontal-wide: 20rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-large: 5rem;

//PADDING
$padding-narrow: 2rem;
$padding-normal: 5rem;
$padding-large: 9rem;