.skills {
    background-color: $color-primary-beige;
    color: $color-black;
    margin-top: 15rem;

    @include respond(tab-portrait){
        margin-top: 4rem;
    }

    ul {
        list-style: none;
        li {
            display: inline-block;
            font-size: 5rem;
            padding: 2rem 3rem;
            height: 10rem;
            width: 12rem;

            @include respond(tab-portrait){
                font-size: 3rem;
                padding: 2rem 3rem;
                height: 8rem;
                width: 10rem;
            }
        }
    }
}