.work-experience {
    
    @include marginTop;

    &__card {

        transition: transform .3s ease-out;

        &:hover {
            transform: translateY(-10px);            
        }
        
        &--title {
            padding: 2rem 0 0 2rem;   
            color: $color-primary-blue;         
        }

        &--sub-title {
            padding: 0 0 0 2rem;            
        }

        &--info {
            margin: 2rem 3rem;
        }
    }
}