.work-experience {
    
    margin-top: 15rem;

    @include respond(tab-portrait){
        margin-top: 4rem;
    }

    &__card {

        &--title {
            padding: 2rem 0 0 2rem;   
            color: $color-primary-blue;         
        }

        &--sub-title {
            padding: 0 0 0 2rem;            
        }

        &--info {
            margin: 2rem 3rem;
        }
    }
}