*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

html {
    // defines 1 rem
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 400;
}

a {
    text-decoration: none;
    color: #000;
}