h1 {
    font-size: 2.5rem;
    font-weight: 700;

    @include respond(tab-portrait) {
        font-size: 2rem;
    }    
}

h2 {
    font-size: 1.7rem;
    font-weight: 400;

    @include respond(tab-portrait) {
        font-size: 1.4rem;
    }
}

.center-align {
    text-align: center;    
    margin: 0;   
}
