h1 {
    font-size: 2.5rem;
    font-weight: 700;

    @include respond(tab-portrait) {
        font-size: 2rem;
    }    
}

h2 {
    font-size: 1.7rem;
    font-weight: 700;

    @include respond(tab-portrait) {
        font-size: 1.4rem;
    }
}

p {
    font-size: 1.3rem;
}

.center-align {
    text-align: center;    
    margin: 0;   
}

.list-font {
    font-size: 4rem !important;
    font-family: fantasy, sans-serif;
    
    @include respond(tab-portrait) {
        font-size: 2rem !important;
    }
}

.align-right {
    float: right;

    @include clearFix;
}
